<html>
<head>
{% block head %}
<title>{% block title %}{% endblock %} - Cyberlibris CMS</title>
<style type="text/css">
body {
    color:#000;
    background-color:#fff;
}
.container {
    margin:50px;
}
.cartouche {
    text-align:center;
    margin:20px;
}
</style>
{% endblock %}
</head>
<body>
    <div class="container">
    <img src="https://www.cyberlibris.com/images/mainlogo_medium.png" />
    <h2 style="text-align:center;">{{msg_title}}</h2>
        <div class="cartouche">
            <a href="mailto:support@cyberlibris.com">support@cyberlibris.com</a>
            <!-- {{node}} -->
        </div>
    </div>  
</body>
</html>
